@import url("https://use.typekit.net/uqq8vai.css");
body{
    padding: 0;
    margin: 0;
    font-size: 1.1em;
    color: white;
    font-family: garamond-fb-text, serif;
    font-weight: 300;
    font-style: normal;
    font-kerning: auto;
    line-height: 1.5em;
    background-image: url("/desktop.jpg");
    background-attachment: fixed;
    background-size: 100%;
}
hr{
    opacity: 0;
}
pre:nth-of-type(1){
    margin-left: 50%;
    font-family: garamond-fb-text, serif;
    font-weight: 300;
    font-style: normal;
    font-size: .75em;
    line-height: 1.7em;
}
h1{ /* title */
    font-size: 8em;
    margin-right: 50%;
    text-align: right;
}
h2:nth-of-type(1){ /* subtitle */
    font-size: 4em;
    margin-right: 50%;
    text-align: right;
}
h2:nth-of-type(2){ /* author */
    font-size: 2.5em;
    margin-right: 50%;
    text-align: right;
}
h4{ /* edition */
    margin-right: 50%;
    text-align: right;
}
h2:nth-of-type(2n+3){ /* odd chapters */
    margin-right: 50%;
    text-align: right;
    font-size: 2em;
}
h2:nth-of-type(2n+4){ /* even chapters */
    margin-left: 50%;
    font-size: 2em;
}
p{
    margin-left: 50%;
    width: 35%;
    font-size: 1.2em;
    line-height: 1.75em;
}
a{ /* contents */
    color: white;
}
p:nth-of-type(n+61){ /* chapter 2 */
    margin-left: 15%;
}
p:nth-of-type(n+166){ /* chapter 3 */
    margin-left: 50%;
}
p:nth-of-type(n+358){ /* chapter 4 */
    margin-left: 15%;
}
p:nth-of-type(n+488){ /* chapter 5 */
    margin-left: 50%;
}
p:nth-of-type(n+573){ /* chapter 6 */
    margin-left: 15%;
}
p:nth-of-type(n+705){ /* chapter 7 */
    margin-left: 50%;
}
p:nth-of-type(n+726){ /* chapter 8 */
    margin-left: 15%;
}
p:nth-of-type(n+890){ /* chapter 9 */
    margin-left: 50%;
}
p:nth-of-type(n+916){ /* chapter 10 */
    margin-left: 15%;
}
p:nth-of-type(n+1016){ /* chapter 11 */
    margin-left: 50%;
}
p:nth-of-type(n+1145){ /* chapter 12 */
    margin-left: 15%;
}
p:nth-of-type(n+1166){ /* chapter 13 */
    margin-left: 50%;
}
p:nth-of-type(n+1238){ /* chapter 14 */
    margin-left: 15%;
}
p:nth-of-type(n+1317){ /* chapter 15 */
    margin-left: 50%;
}
p:nth-of-type(n+1417){ /* chapter 16 */
    margin-left: 15%;
}
p:nth-of-type(n+1499){ /* chapter 17 */
    margin-left: 50%;
}
h3{ /* second star to the right */
 margin-left: 50%;
}
pre:nth-of-type(n+2){ /* pirates */
    margin-right: 50%;
    text-align: right;
    font-family: garamond-fb-text, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2em;
    line-height: 1.75em;
}
pre:nth-of-type(n+5){ /* song */
    margin-left: 50%;
    font-family: garamond-fb-text, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2em;
    line-height: 1.75em;
}
pre:nth-of-type(n+9){ /* pirates */
    margin-right: 50%;
    margin-left: 0%;
    text-align: right;
    font-family: garamond-fb-text, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2em;
    line-height: 1.75em;
}
p:nth-of-type(1667){ /* the end */
    font-size: 2.5em;
}
pre:last-of-type{ /* license */
    margin-left: 35%;
    text-align: left;
    font-size: .75em;
    line-height: 1.7em;
}
/*------------------------------------------SMART PHONES------------------------------------------*/
@media only screen and (max-width: 800px){
    body{
        background-image: url("/phone.jpg");
        background-attachment: fixed;
    }
    pre:nth-of-type(1){
        margin-left: 5%;
        font-size: .5em;
        line-height: 1.5em;
    }
    h1{ /* title */
        font-size: 5em;
        margin-right: 5%;
        text-align: right;
    }
    h2:nth-of-type(1){ /* subtitle */
        font-size: 2.5em;
        margin-right: 5%;
        text-align: right;
    }
    h2:nth-of-type(2){ /* author */
        font-size: 1.6em;
        margin-right: 5%;
        text-align: right;
    }
    h4{ /* edition */
        margin-right: 5%;
        text-align: right;
    }
    p.toc{
        margin-left: 5%;
    }
    h2:nth-of-type(2n+3){ /* odd chapters */
        margin-right: 5%;
        margin-left: 10%;
        text-align: right;
        font-size: 2em;
        font-weight: 400;
        line-height: 1.2em;
    }
    h2:nth-of-type(2n+4){ /* even chapters */
        margin-right: 10%;
        margin-left: 5%;
        text-align: right;
        font-size: 2em;
        font-weight: 400;
        line-height: 1.2em;
    }
    p.toc{
        margin-left: 5%;
    }
    p{
        margin-left: 10%;
        width: 85%;
        font-size: 1em;
        line-height: 1.5em;
    }
    p:nth-of-type(n+61){ /* chapter 2 */
        margin-left: 5%;
    }
    p:nth-of-type(n+166){ /* chapter 3 */
        margin-left: 10%;
    }
    p:nth-of-type(n+358){ /* chapter 4 */
        margin-left: 5%;
    }
    p:nth-of-type(n+488){ /* chapter 5 */
        margin-left: 10%;
    }
    p:nth-of-type(n+573){ /* chapter 6 */
        margin-left: 5%;
    }
    p:nth-of-type(n+705){ /* chapter 7 */
        margin-left: 10%;
    }
    p:nth-of-type(n+726){ /* chapter 8 */
        margin-left: 5%;
    }
    p:nth-of-type(n+890){ /* chapter 9 */
        margin-left: 10%;
    }
    p:nth-of-type(n+916){ /* chapter 10 */
        margin-left: 5%;
    }
    p:nth-of-type(n+1016){ /* chapter 11 */
        margin-left: 10%;
    }
    p:nth-of-type(n+1145){ /* chapter 12 */
        margin-left: 5%;
    }
    p:nth-of-type(n+1166){ /* chapter 13 */
        margin-left: 10%;
    }
    p:nth-of-type(n+1238){ /* chapter 14 */
        margin-left: 5%;
    }
    p:nth-of-type(n+1317){ /* chapter 15 */
        margin-left: 10%;
    }
    p:nth-of-type(n+1417){ /* chapter 16 */
        margin-left: 5%;
    }
    p:nth-of-type(n+1499){ /* chapter 17 */
        margin-left: 10%;
    }
    h3{ /* second star to the right */
    margin-left: 5%;
    margin-right: 10%;
    text-align: right;
    }
    pre:nth-of-type(n+2){ /* pirates */
       margin-right: 5%;
       margin-left: 0%;
       text-align: right;
       font-family: garamond-fb-text, serif;
       font-weight: 300;
       font-style: normal;
    }
    pre:nth-of-type(n+5){ /* song */
       margin-right: 5%;
       margin-left: 0%;
       text-align: right;
       font-family: garamond-fb-text, serif;
       font-weight: 300;
       font-style: normal;
    }
    pre:nth-of-type(n+9){ /* pirates */
        margin-right: 5%;
        margin-left: 0%;
        text-align: right;
        font-family: garamond-fb-text, serif;
        font-weight: 300;
        font-style: normal;
     }
    p:nth-of-type(1667){ /* the end */
       font-size: 2.5em;
    }
    pre:last-of-type{ /* license */
       margin-left: 5%;
       text-align: left;
       font-size: .5em;
       line-height: 1.5em;
    }
}
/*---------------------------------------------TABLETS---------------------------------------------*/
@media only screen and (min-width: 800px) and (max-width:1000px){
    body{
        background-image: url("/tablet.jpg");
        background-attachment: fixed;
    }
    pre:nth-of-type(1){
        margin-left: 5%;
        font-size: .75em;
        line-height: 1.5em;
    }
    h1{ /* title */
        font-size: 8em;
        margin-right: 5%;
        text-align: right;
    }
    h2:nth-of-type(1){ /* subtitle */
        font-size: 4em;
        margin-right: 5%;
        text-align: right;
    }
    h2:nth-of-type(2){ /* author */
        font-size: 2.5em;
        margin-right: 5%;
        text-align: right;
    }
    h4{ /* edition */
        margin-right: 5%;
        text-align: right;
    }
    p.toc{
        margin-left: 10%;
    }
    h2:nth-of-type(2n+3){ /* odd chapters */
        margin-right: 10%;
        margin-left: 10%;
        text-align: left;
        font-size: 1.8em;
        font-weight: 700;
        line-height: 1.5em;
    }
    h2:nth-of-type(2n+4){ /* even chapters */
        margin-right: 10%;
        margin-left: 10%;
        text-align: right;
        font-size: 1.8em;
        font-weight: 700;
        line-height: 1.5em;
    }
    p{
        margin-left: 30%;
        width: 60%;
        font-size: 1.2em;
        line-height: 1.5em;
    }
    p:nth-of-type(n+61){ /* chapter 2 */
        margin-left: 10%;
    }
    p:nth-of-type(n+166){ /* chapter 3 */
        margin-left: 30%;
    }
    p:nth-of-type(n+358){ /* chapter 4 */
        margin-left: 10%;
    }
    p:nth-of-type(n+488){ /* chapter 5 */
        margin-left: 30%;
    }
    p:nth-of-type(n+573){ /* chapter 6 */
        margin-left: 10%;
    }
    p:nth-of-type(n+705){ /* chapter 7 */
        margin-left: 30%;
    }
    p:nth-of-type(n+726){ /* chapter 8 */
        margin-left: 10%;
    }
    p:nth-of-type(n+890){ /* chapter 9 */
        margin-left: 30%;
    }
    p:nth-of-type(n+916){ /* chapter 10 */
        margin-left: 10%;
    }
    p:nth-of-type(n+1016){ /* chapter 11 */
        margin-left: 30%;
    }
    p:nth-of-type(n+1145){ /* chapter 12 */
        margin-left: 10%;
    }
    p:nth-of-type(n+1166){ /* chapter 13 */
        margin-left: 30%;
    }
    p:nth-of-type(n+1238){ /* chapter 14 */
        margin-left: 10%;
    }
    p:nth-of-type(n+1317){ /* chapter 15 */
        margin-left: 30%;
    }
    p:nth-of-type(n+1417){ /* chapter 16 */
        margin-left: 10%;
    }
    p:nth-of-type(n+1499){ /* chapter 17 */
        margin-left: 30%;
    }
    h3{ /* second star to the right */
    margin-right: 10%;
    margin-left: 10%;
    text-align: right;
    }
    pre:nth-of-type(n+2){ /* pirates */
       margin-right: 65%;
       margin-left: 0%;
       text-align: right;
       font-family: garamond-fb-text, serif;
       font-weight: 300;
       font-style: normal;
       font-size: 1.2em;
       line-height: 1.5em;
    }
    pre:nth-of-type(n+5){ /* song */
       margin-left: 65%;
       text-align: left;
       font-family: garamond-fb-text, serif;
       font-weight: 300;
       font-style: normal;
       font-size: 1.2em;
       line-height: 1.5em;
    }
    pre:nth-of-type(n+9){ /* pirates */
        margin-right: 65%;
        margin-left: 0%;
        text-align: right;
        font-family: garamond-fb-text, serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1.2em;
        line-height: 1.5em;
     }
    p:nth-of-type(1667){ /* the end */
       font-size: 2.5em;
    }
    pre:last-of-type{ /* license */
       margin-left: 15%;
       text-align: left;
       font-size: .75em;
       line-height: 1.5em;
    }
}